## Python Basics -- Assignments

In [1]:
x = 34 - 23
y = "Hello"
z = 3.45
if z == 3.45 or y == "Hello":
    x = x + 1
    y = y + " World"
    
print(x)
print(y)

12
Hello World

## Python Basics -- Comments

In [2]:
x = 13 # This is basic comments
# this line would be ignored

def my_function(x, y):
    """This is docstring. This function adds x and y"""
    return x + y

## Python Basics -- Data Types

In [3]:
# integers
z = 5 / 2
z_int = 5 // 2

print('z is {}'.format(z))
print('Z_int is {}'.format(z_int))

z is 2.5
Z_int is 2

In [4]:
# floats
X_float = 3.456

In [5]:
#Strings
a_str = 'Hello'
another_str = "Hello"

print('a_str: {0} and another_str: {1}'.format(a_str, another_str))

print("Are they the same: ", a_str == another_str)

a_str: Hello and another_str: Hello
Are they the same:  True

## Python Basics -- Whitespace

In [6]:
# newline ends the code
x = 34; y = 45
print(x, y)

# you can use \ (backslash) when you need to the next line
if x == 34 and \
    y/2 <= 40:
    print('x + y = {}'.format(x+y))

34 45
x + y = 79

In [7]:
# do not use { } braces for code blocks
{ "this does not work as a code block" 
    "it means something else"
}

{'this does not work as a code blockit means something else'}

In [8]:
# you need a colon to separate a class or func definition

In [9]:
def square(x): # <= see the colon here
    return x**2
x = 2
square(x)

4

## Python Basics -- Assignment

In [10]:
# A variable is created first time 
# it appears on the left side of an assignment expression
new_variable = 3

# objects are deleted once it becomes unreachable
# objects have types

In [11]:
# multiple assignments are possible
x, y, z = 10, 20, 30
x,y,z

(10, 20, 30)

In [12]:
# names are case sensitive and cannot start with a number
bob, Bob, _bob, _2_bob_, bob_2, BoB = 1, 1, 1, 1, 1, 1
# all bob variables are set to 1

In [13]:
2bob = 2 # will not work

SyntaxError: invalid syntax (<ipython-input-13-3f96b3296249>, line 1)

## Sequence Types

In [ ]:
# tuples (immutable, sequence, allows mixed types)
x = (1, 2, 3)
print(x[2]) # third item in the tuple

#x[2] = 1 # will not work, it is immutable, you need to do x = (1, 2, 1)

In [ ]:
#Strings (immutable character strings, similar to tuple)
y = 'H3110'
print(y[0]) # first char in the string

#y[1] = 2# will not work

st = """This is a multi-line
        string
        that uses triple quotes."""
st

In [4]:
#Lists (mutable ordered sequences, mixed types are allowed)
z = ['H', '3', 1.0, 'L', 0 ]

z[2] = 'L' # third item in the list

print(z)
print("Index 2 = " z[2])

['H', '3', 'L', 'L', 0]
Index 2 = L

In [ ]:
# negative indices
# print(z[4])

print(z[-1]) # last item

### Sequence Types -- Slicing

In [5]:
li = [23, 'abc', 4.56, (2,3,4.5), 'def']

#Return a copy of the container with a subset of the original
# members. Start copying at the first index, and stop copying
# before the second index value.
li[1:4]

['abc', 4.56, (2, 3, 4.5)]

In [ ]:
# You can also use negative indices when slicing. 
# Nice trick for reverse order.
li[1:-1]

In [ ]:
# Optional third argument allows selection of every nth item.
li[1:5:2]

In [ ]:
# reverse is also possible
li[-1:0:-1] # or li[-1::-1]

In [ ]:
# Omit the first index to make a copy starting from the 
# beginning of the container.
li[:2]

In [ ]:
# Omit the second index to make a copy starting at the 
# first index and going to the end of the container.
li[2:]

In [ ]:
# To make a copy of an entire sequence, you can use [:].
li[:]

In [ ]:
list1 = ['a', 'b', 'c']
# shallow vs deep copies
list2 = list1     # two names refer to 1 ref
                  # Changing one affects both
list3 = list1[:]  # Two independent copies, two refs

In [ ]:
hex(id(list1)), hex(id(list2)), hex(id(list3))

### Sequence Types -- 'in' operator

In [ ]:
t = [1, 2, 4, 5]
3 in t

In [ ]:
4 in t

In [ ]:
# you can also use for substrings
a = 'xyztu'

'c' in a

In [ ]:
'y' in a

In [ ]:
'yz' in a

In [ ]:
'zy' in a

### Sequence Types -- + operator

In [ ]:
# The + operator produces a new tuple, list, or string 
# whose value is the concatenation of its arguments. 
# Extends concatenation from strings to other types
(1, 2, 3) + (4, 5, 6)

In [ ]:
[1, 2, 3] + [4, 5, 6.5]

In [ ]:
'Hello' + " " + 'WORLD'

### Sequence Types -- Mutability

In [6]:
# lists are mutable, we can change the items in the list in place
li = ['a', 23, 'b', 'c', 4]
hex(id(li))

'0x7fd7dad3ed00'

In [ ]:
li[1] = 45
li

In [ ]:
hex(id(li)) # the name li still points to the same memory 
            # reference when we’re done.

In [ ]:
# Tuples are immutable. You can’t change an item in the tuple.
tu = ('a', 23, 'b', 'c', 4)
#we cannot assign tu[2]=45 as in the case of lists since tuples 
# are immmutable.
hex(id(tu))

In [ ]:
tu = ('a', 45, 'b', 'c', 4)

In [ ]:
hex(id(tu)) # The immutability of tuples means they’re faster than lists.

## List operations

In [14]:
li = ['a', 1, 2, 3]

In [15]:
li.append('c') # append in the end
li

['a', 1, 2, 3, 'c']

In [16]:
li.insert(4, 5) # insert 5 at index 4
li

['a', 1, 2, 3, 5, 'c']

In [17]:
li.extend([10, 'X']) #extend the list with the individual items in the argument
li

['a', 1, 2, 3, 5, 'c', 10, 'X']

In [18]:
li + [11, 3] # ‘+’ creates a fresh list (with a new memory reference)

['a', 1, 2, 3, 5, 'c', 10, 'X', 11, 3]

In [19]:
li.append([11, 'Y']) # append takes a singleton as an argument
li

['a', 1, 2, 3, 5, 'c', 10, 'X', [11, 'Y']]

### List operations -- Helper functions

In [20]:
li.index('c') # index of FIRST occurrence

5

In [21]:
li.count('a') # number of occurrences

1

In [22]:
li.remove('c') # remove the first occurrence of 'c'
li

['a', 1, 2, 3, 5, 10, 'X', [11, 'Y']]

In [23]:
li.reverse() # reverse the list IN PLACE
li

[[11, 'Y'], 'X', 10, 5, 3, 2, 1, 'a']

In [24]:
# let's create a sortable list first
li1 = [3, 5, 6, 2, 1, 4, 9, 7]
li1.sort() # sort the list IN PLACE
li1

[1, 2, 3, 4, 5, 6, 7, 9]

## Dictionaries

In [25]:
# Dictionaries store a mapping between a set of keys and a set of values.
 #Keys can be any immutable type.
#Values can be any type
#Values and keys can be of different types in a single dictionary
#You can define, modify, view, lookup, delete the key-value pairs in the dictionary.
d = {'user':'bozo', 'pwd': 123456}

In [26]:
d['user']

'bozo'

In [27]:
d['pwd']

123456

In [28]:
# Assign a new k-v pair
d['IP']= '8.5.3.1'
d

{'user': 'bozo', 'pwd': 123456, 'IP': '8.5.3.1'}

In [29]:
# update an existing k-v pair
d['pwd'] = 654321
d

{'user': 'bozo', 'pwd': 654321, 'IP': '8.5.3.1'}

In [30]:
# remove entries from the dictionary
del d['user']

d

{'pwd': 654321, 'IP': '8.5.3.1'}

In [31]:
d.clear() # removes all the items
d

{}

In [32]:
a = [1, 2, 3]
del a[1] # would work in lists too
a

[1, 3]

In [33]:
# let's recreate the dictionary
d = {'user':'bozo', 'pwd': 123456, 'IP':'8.5.3.1'}

In [34]:
d.keys() # list of current keys

dict_keys(['user', 'pwd', 'IP'])

In [35]:
d.values()

dict_values(['bozo', 123456, '8.5.3.1'])

In [36]:
d.items()

dict_items([('user', 'bozo'), ('pwd', 123456), ('IP', '8.5.3.1')])

## Boolean Expressions

In [37]:
x = 1
y = 2
x == y

False

In [38]:
# True and False are constants
# Other values are treated as equivalent to either True or False when used in conditionals:
  ## False: zero, None, empty containers
  ## True: non-zero numbers, non-empty objects
bool_val = True

In [39]:
x > y

False

In [40]:
x != y

True

In [41]:
list1 = [1, 2, 3]
list2 = list1

list1 is list2

True

In [42]:
list3 = list1[:]
list3 is list1

False

In [ ]:
# logical operators combining boolean expressions are also available
a = x>3
a

In [44]:
b = (y*x+1)==3
b

True

In [45]:
a and b

False

In [46]:
b and x==1

True

In [47]:
a and x==1

False

In [48]:
a or b

True

In [49]:
a and x!=1

False

In [50]:
# conditional expressions are also available
x = 4 if y==2 else 1
x

4

## Control flow

In [51]:
# If statements
if x==3:
    print('X equals 3')
elif x==2:
    print('X equals 2')
else:
    print('X equals something else')
    
print("This is outside the 'if'")

X equals something else
This is outside the 'if'

In [52]:
# while loops
x = 3
while x< 5:
    print(x, 'still in the loop')
    x = x+ 1

3 still in the loop
4 still in the loop

In [53]:
# for loops
li = [1, 2, 3, 4, 5]
for i in li:
    print(i**3)

1
8
27
64
125

In [54]:
for someChar in "Hello World":
    print(someChar)

H
e
l
l
o

W
o
r
l
d

In [55]:
d = {}
for (x, y) in [('a', 1), ('b', 2), ('c', 3), ('d', 4)]:
    print(x, '-->', y)
    d[x] = y
d

a --> 1
b --> 2
c --> 3
d --> 4

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [56]:
# range() is a useful function
for x in range(5):
    print(x)

0
1
2
3
4

In [57]:
# Do not use range() to iterate over a sequence solely to have
# the index and elements available at the same time

mylist = ['a', 'c', 'e', 'b']
# Avoid this!!!
for i in range(len(mylist)):
    print (i, mylist[i])

# Use this instead
for (i, item) in enumerate(mylist):
    print(i, item)

0 a
1 c
2 e
3 b
0 a
1 c
2 e
3 b

## List comprehension

In [58]:
# The format is as follows
# [ expression for name in list ]
# Where expression is some calculation or operation acting upon 
# the variable name.
# For each member of the list, the list comprehension
#     1. sets name equal to that member, and
#     2. calculates a new value using expression
# It then collects these new values into a list which is the 
# return value of the list comprehension.

li = [3, 6, 2, 7]
[elem*2 for elem in li]

[6, 12, 4, 14]

In [59]:
li= [('a', 1), ('b', 2), ('c', 3)]
[n * 3 for (x,n) in li]

[3, 6, 9]

In [60]:
# filtered list comprehension
# [ expression for name in list if FILTER]
# filter determines whether expression is performed on each member of the list.
# When processing each element of list, first check if it satisfies the filter condition.
# If the filter condition returns False, that element is omitted 
# from the list (not in place) before the list comprehension is evaluated.

li = [3, 6, 2, 7]
[elem*2 for elem in li if elem>3]

[12, 14]

In [61]:
## Functions

In [62]:
def mult_func(x, y):
    return x*y
mult_func(3, 5)

15

In [63]:
def myfun(x):
    return x*2

def apply_myfun(q, x):
    return q(x+1)

apply_myfun(myfun, 6)

14

In [64]:
# default values
def myfun(b, c=3, d='Hello'):
    print(d)
    return b+c

In [65]:
myfun(5, 5, 'hi')

hi

10

In [66]:
myfun(5, 4)

Hello

9

In [67]:
myfun(5)

Hello

8

In [68]:
# you can call the functions with out of order args
myfun(d='out of order', c=1, b=2)

out of order

3

## Lambda notation

In [69]:
# Functions can be defined without giving them names.
# This is most useful when passing a short function as an argument to another function.
# The first argument to apply() is an unnamed function that takes one input and returns the input multiplied by four.
# Note: only single-expression functions can be defined using this lambda notation.
x = lambda z: z*4
x(5)

20

In [70]:
def myfun(x):
    return x*2

y = lambda r: myfun(r)
y(5)

10