# Data Pre-processing in Python

Some text some text
Some text
Lorem ipsum
 etc
 etc

First start with importing modules

In [1]:
import pandas as pd
import numpy as np

**Reading Data from CSV file**
Then, read the Motor Insurance Fraud Claim data to a DataFrame

In [2]:
# this is only needed for this google colab
from google.colab import drive
drive.mount('/content/drive')
abt_path = '/content/drive/My Drive/data/MotorInsuranceFraudClaimABTFull.csv'

# for your local jupyter notebook, simply use the abs. or rel. path for the file
# comment out above code.
#abt_path = '[PATH TO YOUR FILE!]'

ModuleNotFoundError: No module named 'google.colab'

Now read the csv file using the `pd`. `df` is the variable name of the data frame. `df.head()` shows the first few records (default is 5).

In [ ]:
df = pd.read_csv(abt_path, sep=',')
# you can alternatively use index_col parameter when reading csv files.
# df = pd.read_csv(abt_path, sep=',', index_col='ID')
df.head()

`df.dtypes` would return all the column names and their data types (int64, float64, or object).
`df.info()` provides a more complex view with number of non-null values, data types etc.

In [ ]:
df.dtypes
df.info()

**Iterating over Data Frames**

While it is not advisible, sometimes you may eventually need to iterate through records in your data frame. You can use `df.iterrows()`, `df.itertuples()`, or `df.iteritems()` to iterate. `iterrows()` returns a Series object per each row, and generally the slowest. `itertuples()` and `iteritems()` lets you iterate over row and column series as named tuples. We can use a `for` loop for iteration.

In [ ]:
for index, row in df.iterrows():
    print(index, end=' ')
    print(row) # uncomment this to see

Checking the basics of your data. For every column in the data frame, we can count the records (`df[name].size`), count NULL values (`sum(df[name].isnull().sum())`), and unique values (`df[name].unique().size`).

In [ ]:
# We will use df.iteritems() as it allows us to iterate through columns
for (name, series) in df.iteritems():
  print('ANALYZING THE COLUMN:', name)
  print('\tTotal number of records', series.size)
  print('\tNumber of missing values', series.isnull().sum())
  print('\tPercentage of missing values {0}%'.format(((series.isnull().sum()/series.size)*100)) )
  print('\tNumber of unique values', series.unique().size)

#alternatively, you can iterate over df.columns (column names) and access the columns
# for name in df.columns:
#   print('ANALYZING THE COLUMN:', name)
#   print('\tTotal number of records', df[name].size)
#   print('\tNumber of missing values', df[name].isnull().sum())
#   print('\tPercentage of missing values {0}%'.format(((df[name].isnull().sum()/df[name].size)*100)) )
#   print('\tNumber of unique values', df[name].unique().size)

**Handling Missing Values**

For a larger DataFrame, it can be tedious to look for missing values manually. In this case, we can use the `isnull()` method to return a DataFrame with Boolean values that indicate whether a cell contains a numeric value (False) or if data is missing (True).

In [ ]:
df.isnull().sum()

Rows with missing values can be easily dropped via the `dropna()` method. Please, note significant data reduction – we went from 7,000 cells to 2,338 cells. `df.size` returns *(row-count x column-count)* when called for the entire DataFrame.

In [ ]:
print(df.isnull().sum())
print('Number of cells before dropping rows with missing values: {}'.format(df.size))
print()
dfrd = df.dropna() # drop values with null values and re-assign
print(dfrd.isnull().sum())
print('Number of cells after dropping rows with missing values: {}'.format(dfrd.size))

Instead of dropping rows, we can also drop columns with null values by setting the `axis` argument to 1, *i.e.*, `df = df.dropna(axis=1)`. This time we will use `df.shape` for feedback, as it returns separate counts for both dimensions of DataFrame, that is the (row-count, column-count) pair.

In [ ]:
print(df.isnull().sum())
print('Number of cells before dropping columns with missing values: {}'.format(df.size))
print()
dfcd = df.dropna(axis=1) # drop columns with row values (axis=1 signifies columns)
print(dfcd.isnull().sum())
print('Number of cells after dropping columns with missing values: {}'.format(dfcd.size))

**Imputation:**
We can also replace each NaN value by the corresponding mean which is separately calculated for each feature column. Other options for this strategy are replacing with median or most frequent, which is useful for categorical feature values.

In [ ]:
from sklearn.impute import SimpleImputer
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputed_df = df.copy()
imputed_df['Num Soft Tissue'] = mean_imputer.fit_transform(df[['Num Soft Tissue']])
# Note here that we cannot use mean for Marital Status, simply because it is not a numeric attribute
print('\tTotal number of missing values in original df', df.isnull().sum().sum())
print('\tTotal number of missing values after imputation (for number of soft tissue)', imputed_df.isnull().sum().sum())

#There is a much more straightforward way for mean imputation but above can be used with much more flexible options
#df.apply(lambda x: x.fillna(x.mean()),axis=0) # this assumes all numerical values and uses lambda functions

In [ ]:
from sklearn.impute import KNNImputer

**Histograms**

We used `df.dtype` and `df.info()` before. We will be iterating through the entire dataframe again, but only selecting the attributes that are different than object. 

We import a popular plotting library `matplotlib` to generate
histograms and then save each of them in a separate PDF file.

In [ ]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

In [ ]:
col_list = []
for (name, series) in df.iteritems():
  if series.dtype != 'object':
    col_list.append(name)

fig, ax = plt.subplots(2,5,figsize=(18,8)) # get a bigger figure
df_for_hist = df[col_list]
df_for_hist.hist(bins=20, alpha=0.5, ax=ax) # note here that you may change the bin size to see the distribution better.
#you could also do the following
# print(df.select_dtypes(exclude=['object']).hist(bins=6))

**Box Plots**

A box plot displays the five-number summary of a set of data. The five-number summary is the minimum, first quartile, median, third quartile, and maximum.
In a box plot, we draw a box from the first quartile to the third quartile. A vertical line goes through the box at the median. The whiskers go from each quartile to the minimum or maximum.

In [ ]:
# Let's get the numeric data again, with another handy function
df_for_bp = df._get_numeric_data()

#you can plot one by one
plt.boxplot(df_for_bp['ID'])
plt.show()

# or you can use pandas-provided wrapper.
# df_for_bp.boxplot(column=['Total Claimed', 'Num Claims'])
df_for_bp.boxplot(column=['ID'])

The above-presented box-plots for ID column shows a nicely spread values, very similar to a normal distribution. However, we cannot infer that right away.

In [3]:
# Let's consider claim amount
df_for_bp.boxplot(column=['Claim Amount'], vert=False) #horizontal box-plot

# Let's also see the values used in the five-number summary
print('CLAIM AMOUNT')
print('\tMin value:{}'.format(df_for_bp['Claim Amount'].min())) # minimum
print('\t1st Quartile value:{}'.format(df_for_bp['Claim Amount'].quantile(0.25))) # First quartile
print('\tMedian value:{}'.format(df_for_bp['Claim Amount'].median())) # median
print('\t3rd Quartile value:{}'.format(df_for_bp['Claim Amount'].quantile(0.75))) # Third quartile
print('\tMax value:{}'.format(df_for_bp['Claim Amount'].max())) # maximum

# additional descriptive statistics
print('\tMean value:{}'.format(df_for_bp['Claim Amount'].mean())) # mean
print('\tStd. Dev. value:{}'.format(df_for_bp['Claim Amount'].std())) # std dev
print('\tVariance value:{}'.format(df_for_bp['Claim Amount'].var())) # variance

NameError: name 'df_for_bp' is not defined

**Scatter Plots**

A scatter plot is a type of plot or mathematical diagram using Cartesian coordinates to display values for typically two variables for a set of data.

In [ ]:
df_scatter = df._get_numeric_data()

#let's use classical method
plt.scatter(x=df_scatter['Income of Policy Holder'], y=df_scatter['Claim Amount'])
plt.xlabel('Income of Policy Holder')
plt.ylabel('Claim Amount')
plt.show()

In [ ]:
# we can also use pandas wrapper
df_scatter.plot(kind='scatter', x='Income of Policy Holder', y='Claim Amount')

In [ ]:
# We can also create a scatter plot matrix (SPLOM). 
# Seaborn, which is a visualization library, provides a high-level interface for these.
import seaborn as sns

df_concise = df_scatter[ ['Income of Policy Holder', 'Claim Amount', 'Claim Amount Received', 'Fraud Flag'] ]

# sns.set(style='ticks')
sns.pairplot(df_concise, hue='Fraud Flag', markers=['+', 'o']) # hue is for mapping plot aspects to different colors.

# you can use the following to see the full pairplot
# sns.pairplot(df_scatter)

**Heatmap of Correlation Matrix**

A heat map is a graphical representation of data where the individual values contained in a matrix are represented as colors.

In [ ]:
correlations = df_concise.corr()
sns.heatmap(correlations)
print(correlations.to_string())

**Min-max Normalization**
is the simplest method and consists in rescaling the range of features to scale the range in [0, 1] or [−1, 1]. Selecting the target range depends on the nature of the data. The general formula for a min-max of [0, 1] is given as:

![image.png]()

In [ ]:
# we will use scikit-learn library for normalization
from sklearn import preprocessing

df_minmax = df_concise # for quicker illustration
print(df_minmax.head())
min_max_scaler = preprocessing.MinMaxScaler()

a_scaled = min_max_scaler.fit_transform(df_minmax) #a_scaled is an N-d numpy array now. We need to create a new dataframe off of it
df_scaled = pd.DataFrame(data=a_scaled, columns=df_minmax.columns)
df_scaled.head()

**Z-score Normalization**

In [ ]:
zs_scaler = preprocessing.StandardScaler()
zs_scaled = zs_scaler.fit_transform(df_minmax)
df_zscaled = pd.DataFrame(data=zs_scaled, columns=df_minmax.columns)
df_zscaled.head()

**Equal-width Binning**

We can use the histogram function of `numpy`:

`count,division = np.histogram(series)`

where `division` is the automatically calculated border for your bins and `count` is the population inside each bin. We have equal-width bins setup as [min, max] range with linearly spaced 5 markers (i.e., this results in 4 bin between the markers)

In [ ]:
count, division = np.histogram(df['Claim Amount'], bins=5)
division